.container {
    width: 100%;
    max-width: 100.5rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px 30px 30px 20px;
    background-color: #87CEFA;
    margin: 0 auto;
}

.header {
    background-color: #2C2C54;
    color: white;
    padding: 50px;
    text-align: center;
    border-radius: 20px 30px 30px 20px;
}

.content {
    display: flex;
    flex-grow: 1;
    margin: 50px;
}

.sidebar, .student-attendance-container {
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 20px 30px 30px 20px;
    border: 2px solid #2C2C54;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.main-content {
    flex: 3;
    padding: 20px;
}

.footer {
    background-color: #6464af;
    color: whitesmoke;
    padding: 30px;
    text-align: center;
    border-radius: 0 0 20px 20px;
}

.className {
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 20px 30px 30px 20px;
    border: 2px solid #2C2C54;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.event-entry {
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 10px;
    margin-right: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

.event-entry input[type="text"],
.event-entry input[type="date"],
.event-entry input[type="time"] {
    width: 100%;
    padding: 8px;
    margin: 4px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #2C2C54;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-top: 10px;
    width: 100%;
}

.fines-section {
    display: flex;
    justify-content: space-around;
    background-color: #f0f0f0; /* Light grey background for visual separation */
    padding: 20px;
    margin-top: 20px; /* Ensure there's space between this and previous sections */
}

.fines-list {
    width: 45%; /* Each table takes nearly half the width of the container */
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1); /* Slight shadow for depth */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd; /* Light grey line for row separation */
}
